/* You can add global styles to this file, and also import other style files */

:root {
    --prime: #c5151c;
}

body * {
    transition: all .2s ease-in-out;
}

@font-face {
    font-family: paintedbrush;
    src: url(assets/paintedbrush.ttf);
}

.dropdown .dropdown-menu a:hover {
    color: #fff;
    background-color: var(--prime);
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.gilroy {
    font-family: 'Khula', sans-serif;
}

.clip-line {
    width: 400px;
    height: 18px;
    clip-path: polygon(0 50%, 100% 0, 96% 100%, 0% 100%);
    background: linear-gradient(90deg, #fff 0%, var(--prime) 60%, var(--prime) 100%);
}

.btn-style {
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px 0px #00000040;
    border: 1px solid #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-style:hover {
    color: #fff;
    border: 1px solid #000;
    box-shadow: 0px 0px 6px 0px #00000040;
}

@media (max-width: 767.98px) {
    .clip-line {
        width: 100%;
    }
}